<mat-card *ngFor="let coffee of coffeeList">
  <mat-card-title>{{ coffee.name }}</mat-card-title>
  <mat-card-subtitle>Place: {{ coffee.place }}</mat-card-subtitle>
  <mat-card-actions>
    <button (click)="gotToMap(coffee)" mat-button aria-label="Map">
      <mat-icon aria-hidden="true">map</mat-icon>
    </button>
    <button (click)="share(coffee)" mat-button aria-label="Share">
      <mat-icon aria-hidden="true">share</mat-icon>
    </button>
    <button (click)="goDetails(coffee)" mat-button aria-label="List">
      <mat-icon aria-hidden="true">list</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<a id="btn-create" mat-fab routerLink="/coffee" aria-label="Create" role="button">
  <mat-icon aria-hidden="true">create</mat-icon>
</a>
